langchain==0.0.352
langchain-community==0.0.13
langchain-core==0.1.23
langchain-openai==0.0.6
openai==1.12.0
openapi-core==0.18.2
openapi-schema-validator==0.6.2
openapi-spec-validator==0.7.1
streamlit==1.31.1
streamlit-bokeh-events==0.1.2
streamlit-chat==0.1.1
streamlit-option-menu==0.3.6
